body {
  margin: 10px;
  width: 400px;
  border: #a81231;
}

    body #container {
      height: 100%;
    }

    body #highlighted {
      font-size: 15px;
    }

    body h1 {
      font-size: 20px;
      text-align: center;
    }

#container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}